html, body{
  overflow-x: hidden;
}

#navigation.style-1 ul a {
    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 65px;
    padding:0;
}

.parallax{
  background-size: cover;
  background-position: 61% 0!important;
  background-attachment: unset!important;
}

.v-select input[type=search], .v-select input[type=search]:focus{margin:0 !important}

#zonesList{
	background:rgba(255,255,255,0.8);
}

.p-0{padding:0}
.p-lr-0{padding:0}

.p-4{padding:4px !important;}
.p-lr-4{padding: 0 4px}

.m-0{margin:0;}

.v-select.searchable .dropdown-toggle{padding:10px !important;}
.v-select.searchable .dropdown-toggle::after{display:none !important;}

section.search{padding:20px 20px 0;}

.listings-container.fs-listings.list-layout .listing-img-container{
	max-height:270px;
}

.listing-price-2{
	padding: 10px;
	color: #911938;
	font-size:25px;
}

.listing-price-2 span.va, .listing-footer span.va {
	color: #fff;
    padding: 0px 5px;
    font-size: 12px;
    border-radius:5px;
    background: rgba(74,74,76,0.62);
}


.listing-features{
	padding: 0 10px !important;
}

.col-md-2 .img-box-content h4{
	font-size:18px;
}

.like-icon{
	text-shadow : 0px 0px 8px #911938;
}

.like-icon:hover{
	color: #911938;
}
.like-icon-active{
	color: #911938 !important;
}

.listing-img-container:after {
    background: linear-gradient(to bottom, transparent 60%, #666666) !important;
}


.contenuto h1, .contenuto h2,.contenuto h3, .contenuto h4{
	color: #911938;
}

.contenuto strong{
	color:#000;
}

.v-select .dropdown-toggle{
  border:none!important;
}






.search-type label:first-child{
	border-radius: 10px 0 0;
}
.search-type label:last-child{
	border-radius: 0 10px 0 0;
}

.main-search-container h2{
  text-align: center;
  top: -57px;
  margin: auto;
  left: 0;
  right: 0;
}

.material-switch{
	margin-top: 13px;
}
    
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
