h1 a{
    color:#444;
}

h1 a:hover{
    color:#444;
}

body{
    /*background-color: white;*/
}

.category-first-article a{
    color:#444;
}

.articleCategoryLink{
    display: inline-block;
    height:25px;
    line-height: 25px;
    color:#444;
    border:1px solid #444;
    border-radius: 4px;
    padding:0px 10px;
    transition: 0.5s all;    
    margin-bottom:5px;
    font-size: 11px;
}
.articleCategoryLink:hover{
    color:#ececec;
    background-color:#444;
    text-decoration: none;
}


.blogArticlesList{

}
.blogArticlesList .blogArticle{

}

.blogArticlesList .blogArticle .articleTitle{
    color:#444;
    font-size: 28px;
    line-height: 32px;
}
.blogArticlesList .blogArticle .articleCoverWrapper{
    width:100%;
    height:240px;
    overflow: hidden;
}


hr{
    border-color:#999!important;
}

#blog-homepage-carousel{

}
#blog-homepage-carousel .item{
    height:580px;
}

#blog-homepage-carousel .item a{
    color:#444;
}

#blog-homepage-carousel .item .item-img-wrapper{
    height:260px;
    width: 100%;
    text-align: center;
    background-color:#fff;
    overflow: hidden;
    position: relative;
}

#blog-homepage-carousel .item .item-img-wrapper img{
    display: inline-block;
    width: 100%;
}

#blog-homepage-carousel .item .item-info{
    height:320px;
    padding:20px;
    background-color: #fff;
}

.blog-most-popular article{

}

.blog-most-popular div.img-wrapper{
    height:120px;
    overflow: hidden;
}

.blog-most-popular a{
    color:#444;
}

.blog-most-popular div.img-wrapper a img{
    width:100%;
    display: block;
}

.article-cover{
    height:320px;
    overflow: hidden;
    position: relative;
    margin-top:50px;
}
.article-cover img{
    display: block;
    position: absolute;
    width: 100%;
    top:-50%;
    margin-top:-160px;
}
article p{
    text-align: justify;
}