@media (min-width: 1200px) {
    #homepage_top>.row>.col-md-12>.search-wrapper .form-inline>.form-group input[type=text] {
        border-color: #94072a;
        min-width: 400px
    }
    .navbar-inverse input[type=text] {
        min-width: 230px
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    #homepage_top>.row>.col-md-12>.search-wrapper .form-inline>.form-group input[type=text] {
        border-color: #94072a;
        min-width: 400px
    }
}
@media (max-width: 480px) {
    #results-wrapper {
        width: 100%
    }
    #footer {
        height: max-content
    }
    #homepage_top>.row>.col-md-12 {
        height: 164px;
        position: relative
    }
    h1 {
        font-size: 25px!important
    }
    h2 {
        font-size: 14px!important
    }
    .navbar-inverse .input-group button {
        font-size: 16px
    }

    #confirm-zones-wrapper{
        top:50px;
        left:0px;
        border-radius: 0px;
        width: 100%;

    }
    #search-wrapper-col-mobile
    {
        height:320px!important;
    }
    
    #search-wrapper-container-mobile
    {
        height:320px!important;
    }

}