#facebookLandingFooter{
    background-color:#333;
    color:#fff;
    text-align: center;
    padding:20px;
    margin-top:20px;
}
.hiddenField{

}

#subfooter-links a{
    color:#fff;
}
#subfooter-links a:hover{
    color:#fff;
}

#latest-blog {
    background-color: #fff
}
#latest-blog h1 {
    color: #565a5c;
    font-size: 40px;
    font-weight: 700
}
#latest-blog h2 {
    color: #565a5c;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px
}



#save-search-wrapper{
    position: fixed;
    z-index:9;
    width:320px;
    height:320px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    bottom:-270px;
    left:50%;
    margin-left:-160px;
    transition: all 0.3s;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.25);
    overflow: hidden;
}

#save-search-wrapper:hover{
    bottom:-0px;
}

#save-search-wrapper:hover h4{
    bottom:0px;
    background-color:rgba(148,7,42,1);
}

#save-search-wrapper h4{
    color:#fff;
    background-color:rgba(148,7,42,0.95);
    margin:0px;
    padding:20px 0px;
}

.google-maps-autocomplete-homepage{

}

#footer-links ul li a,
.estate-list-item .panel .panel-heading,
.history-wrapper p.excerpt,
.result-info {
    white-space: nowrap;
    text-overflow: ellipsis
}
.agent-opinion,
.text-italic {
    font-style: italic
}
#prestige-banner-small {
    position: fixed;
    bottom: 30px;
    left: 30px;
    width: 320px;
    height: 178px;
    margin: 0;
    padding: 0;
    z-index: 9;
    box-shadow: 0 0 12px rgba(0, 0, 0, .75);
    background-color:rgba(0,0,0,0.55);
    border-radius: 4px;
    overflow: hidden;
}
.btn-dismiss {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    background-color: #ececec;
    border-radius: 50%;
    border: 1px solid #aaa;
    box-shadow: 0 0 8px rgba(0, 0, 0, .25);
    top: 8px;
    right: 8px;
    text-align: center;
    color: #555;
    font-weight: 700;
    font-size: 12px;
    padding: 0;
    z-index: 999
}
.btn-dismiss:before {
    content: "x"
}
.agency-item {
    height: 545px
}
#cookies_alert {
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    z-index: 10
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden
}
.label_type,
.margin-left-10 {
    margin-left: 10px
}
.height-spacer-5 {
    height: 5px
}
.height-spacer-10 {
    height: 10px
}
.height-spacer-15 {
    height: 15px
}
.height-spacer-20 {
    height: 20px
}
.height-spacer-25 {
    height: 25px
}
.height-spacer-30 {
    height: 30px
}
.height-spacer-50 {
    height: 50px
}
.height-spacer-60 {
    height: 60px
}
.height-spacer-70 {
    height: 70px
}
.height-spacer-80 {
    height: 80px
}
.height-spacer-90 {
    height: 90px
}
.height-spacer-100 {
    height: 100px
}
.height-spacer-120 {
    height: 120px
}
.height-spacer-130 {
    height: 130px
}
.height-spacer-180 {
    height: 180px
}
#homepage_top {
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
.homepage_top_1 {
    background: url(/img/slider/1.jpg) center center no-repeat;
}

.homepage_top_2 {
    background: url(/img/slider/2.jpg) center center no-repeat;    
}
.homepage_top_3 {
    background: url(/img/slider/3.jpg) center center no-repeat;    
}
.homepage_top_4 {
    background: url(/img/slider/unclickeseiacasa.jpg) top center no-repeat;    
}



#homepage_top>.row>.col-md-12 {
    height: 580px;
    position: relative
}
#homepage_top>.row>.col-md-12>h1 {
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.35)
}
.h1-style {
    color: #fff;
    font-size: 36px;
    font-weight: 700
}
.h2-style {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px
}

#homepage_top .search-wrapper label{
	color:#ffffff;
	font-weight:normal;	
}
#homepage_top input, #homepage_top select {
	margin-bottom:10px;
	width:100%;
	
}

#homepage_top>.row>.col-md-12>h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    letter-spacing:2px;
    text-shadow: 0px 0px 11px rgba(0,0,0,1)!important;
}
#homepage_top>.row>.col-md-12>.btn-default {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    background: rgba(255, 255, 255, .35);
    border: 0;
    padding: 10px 60px
}
#homepage_top>.row>.col-md-12>.btn-default:hover {
    background: rgba(255, 255, 255, .5)
}
#homepage_top>.row>.col-md-12>.search-wrapper {
    /*background: rgba(0, 0, 0, .65);*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 15px;
    
}
#homepage_top>.row>.col-md-12>.search-wrapper .form-inline>.form-group input[type=text] {
    border-color: #94072a;
   
}
#homepage_top>.row>.col-md-12>.search-wrapper .form-inline button[type=submit] {
    color: #fff;
    background: #94072a;
    border-color: #94072a;
    
}
#homepage_top>.row>.col-md-12>.search-wrapper .form-inline button[type=submit]:hover {
    background: #AF0D35
}
#homepage_top>.row>.col-md-12>.search-wrapper a {
    color: #fff;
    /*background: #94072a;*/
    border-radius: 6px;
    display: inline-block;
    font-size: 17px;
    margin: 0 10px;
    padding: 0 10px;
    text-decoration: underline;
}
#homepage_top>.row>.col-md-12>.search-wrapper a:hover {
    /*background-color: #af0d35;*/
}
#homepage_immobili_piu_visitati {
    background: #fff
}
#homepage_immobili_piu_visitati>.row>.col-md-12>h1 {
    color: #565a5c;
    font-weight: 700;
    font-size: 40px
}
#homepage_immobili_piu_visitati>.row>.col-md-12>h2 {
    color: #565a5c;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px
}
#homepage_immobili_piu_visitati>.row>.col-md-12>.row>.col-md-4>.panel {
    border: 0;
    height: 350px
}
#homepage_immobili_piu_visitati>.row>.col-md-12>.row>.col-md-4>.panel>.homepage-most-visited-carousel>.carousel-inner>.item {
    height: 200px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
#homepage_immobili_piu_visitati>.row>.col-md-12>.row>.col-md-4>.panel>.homepage-most-visited-carousel>.carousel-indicators {
    display: none
}
#homepage_immobili_piu_visitati>.row>.col-md-12>.row>.col-md-4>.panel>.homepage-most-visited-carousel>.details {
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0
}
#homepage_immobili_piu_visitati>.row>.col-md-12>.row>.col-md-4>.panel>.homepage-most-visited-carousel>.details>p.price {
    display: block;
    height: 42px;
    line-height: 42px;
    color: #fff;
    float: left;
    text-align: right;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 700;
    background: rgba(55, 52, 49, .9)
}
#homepage_immobili_piu_visitati>.row>.col-md-12>.row>.col-md-4>.panel>.homepage-most-visited-carousel>.details>p.spechs {
    display: block;
    height: 22px;
    line-height: 22px;
    color: #fff;
    float: left;
    text-align: right;
    padding: 0 10px;
    font-size: 16px;
    background: rgba(55, 52, 49, .9)
}
#homepage_immobili_piu_visitati>.row>.col-md-12>.row>.col-md-4>.panel>.homepage-most-visited-carousel>.favourite-ico-carousel {
    height: 27px;
    width: 30px;
    background: url(/css/img/favourite-sprite.png) bottom center no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer
}
#homepage_immobili_piu_visitati>.row>.col-md-12>.row>.col-md-4>.panel>.homepage-most-visited-carousel>.favourite-ico-carousel.active,
#homepage_immobili_piu_visitati>.row>.col-md-12>.row>.col-md-4>.panel>.homepage-most-visited-carousel>.favourite-ico-carousel.favourite,
#homepage_immobili_piu_visitati>.row>.col-md-12>.row>.col-md-4>.panel>.homepage-most-visited-carousel>.favourite-ico-carousel:hover {
    background-position: top center
}
#homepage_immobili_piu_visitati>.row>.col-md-12>.row>.col-md-4>.panel>.homepage-most-visited-carousel>.carousel-control {
    height: 40px;
    background: 0 0;
    position: absolute;
    display: block
}
#homepage_immobili_piu_visitati>.row>.col-md-12>.row>.col-md-4>.panel>.homepage-most-visited-carousel>.carousel-control.left {
    top: 155px;
    right: 50px;
    left: auto;
    bottom: auto
}
#homepage_immobili_piu_visitati>.row>.col-md-12>.row>.col-md-4>.panel>.homepage-most-visited-carousel>.carousel-control.right {
    top: 155px;
    right: 5px;
    left: auto;
    bottom: auto
}
#homepage_immobili_piu_visitati>.row>.col-md-12>.row>.col-md-4>.panel>.homepage-most-visited-carousel>.carousel-control.left>.control-ico {
    display: block;
    height: 40px;
    width: 40px;
    background: url(/css/img/carousel-control-sprite.png) bottom left no-repeat
}
#homepage_immobili_piu_visitati>.row>.col-md-12>.row>.col-md-4>.panel>.homepage-most-visited-carousel>.carousel-control.right>.control-ico {
    display: block;
    height: 40px;
    width: 40px;
    background: url(/css/img/carousel-control-sprite.png) bottom right no-repeat
}
#homepage_immobili_piu_visitati>.row>.col-md-12>.row>.col-md-4>.panel>.panel-body>h1 a {
    font-size: 15px;
    color: #94072a !important;
    margin-top: 0;
    font-weight: 700;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block
}
#homepage_immobili_piu_visitati>.row>.col-md-12>.row>.col-md-4>.panel>.panel-body>h2 {
    font-size: 13px;
    color: 565a5c;
    margin-top: 4px;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}


.margin-top-10 {
    margin-top: 10px
}
.label_type {
    height: 25px;
    line-height: 25px;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    padding: 0 40px;
    margin-right: 10px
}
.label_type.rent {
    background-color: #d05555
}
.label_type.on_sale {
    background-color: #94072a
}
.cl {
    clear: left
}
.cb {
    clear: both
}
.fl {
    float: left
}
.fr {
    float: right
}
.cr {
    clear: right
}
#homepage_gli_ultimi_immobili {
    background: #fff;
    padding-bottom: 25px
}
#homepage_gli_ultimi_immobili>.row>.col-md-12 {
    padding: 0
}
#homepage_gli_ultimi_immobili>.row>.col-md-12>h1 {
    color: #565a5c;
    font-weight: 700;
    font-size: 40px
}
#homepage_gli_ultimi_immobili>.row>.col-md-12>h2 {
    color: #565a5c;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px
}
#homepage_la_casa_dei_sogni {
    background-color: #d05555;
    min-height: 320px;
    padding: 0
}
#homepage_la_casa_dei_sogni h1 {
    font-weight: 700;
    color: #fff;
    font-size: 34px
}
#homepage_la_casa_dei_sogni h2 {
    font-weight: 700;
    color: #fff;
    font-size: 16px
}
#homepage_la_casa_dei_sogni form input[type=text] {
    max-width: 410px;
    display: inline-block;
    height: 50px
}
#homepage_la_casa_dei_sogni form button {
    max-width: 410px;
}
#homepage_la_casa_dei_sogni ul {
    list-style-image: none;
    padding: 10px;
}
#homepage_la_casa_dei_sogni ul li {
    display: block;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    /*margin-bottom: 25px;*/
    background-image: url(/css/img/dream-house-list-bullet.png);
    background-repeat: no-repeat;
    background-position: center left;
    min-height: 27px;
    line-height: 27px;
    padding-left: 45px
}
.btn-itaimm {
    background: #94072a;
    color: #fff;
    font-weight: 700;
    text-align: center;
    border: none;
    display: inline-block;
    cursor: pointer
}
.btn-itaimm:hover {
    background: #b71e44;
    color: #fff;
    text-decoration: none
}
.btn-itaimmg-lg {
    border-bottom: 2px solid #61151a;
    padding: 5px 120px
}
.btn-itaimmg-lgg {
    border-bottom: 2px solid #61151a;
    width: 100%;
    height: 43px;
    line-height: 43px
}
#incontra_gli_agenti {
    background: #fff
}
#incontra_gli_agenti>.row>.col-md-12>h1 {
    color: #565a5c;
    font-weight: 700;
    font-size: 40px
}
#incontra_gli_agenti>.row>.col-md-12>h2 {
    color: #565a5c;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px
}
#incontra_gli_agenti>.row>.col-md-12 {
    padding: 0
}
#incontra_gli_agenti>.row>.col-md-12 .col-md-3 {
    padding: 0 5px
}
#incontra_gli_agenti>.row>.col-md-12 .carousel .carousel-control {
    width: 34px;
    background: transparent;
    opacity: 1;
    text-shadow: none;
    color: #565a5c;
    font-size: 10px
}
#incontra_gli_agenti>.row>.col-md-12 .carousel .carousel-control:hover {
    /*background-color: #e6e6e6; */
}
#incontra_gli_agenti>.row>.col-md-12 .carousel ol.carousel-indicators {
    display: none
}
#incontra_gli_agenti>.row>.col-md-12 .homepage-agent {
    cursor: pointer;
    position: relative
}
#incontra_gli_agenti>.row>.col-md-12 .homepage-agent p.agent-name {
    color: #565a5c;
    font-weight: 700;
    font-size: 24px;
    padding-top: 20px
}
#footer-affittare-un-immobile h1,
#hai_un_agenzia h1 {
    font-size: 25px;
    color: #fff;
    font-weight: 700
}
#incontra_gli_agenti>.row>.col-md-12 .homepage-agent .agency-image {
    margin: 0 auto;
    display: none;
    position: relative
}
#incontra_gli_agenti>.row>.col-md-12 .homepage-agent:hover .agency-image {
    display: block
}
#incontra_gli_agenti>.row>.col-md-12 .homepage-agent:hover .agent-image {
    display: none
}
#incontra_gli_agenti>.row>.col-md-12 .homepage-agent .agency-image .agency-image-details {
    display: block;
    position: absolute;
    top:40%;
    text-align: center;
    width: 100%;
}
#incontra_gli_agenti>.row>.col-md-12 .homepage-agent .agency-image .agent-excerpt {
    width: 140px;
    display: inline-block;
    color: #fff;
    line-height: 16px;
    text-shadow: 0 0 3px rgba(0, 0, 0, .65)
}
#hai_un_agenzia {
    padding: 0;
}
#footer {
    padding: 0 0 30px;
    margin: 0;
    background: #2b2d2e
}
.bg-white {
    background-color: #fff
}
#footer-links h3 a {
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px
}
#footer-affittare-un-immobile ul,
#footer-links ul {
    padding: 0
}
#footer-links ul li {
    display: block;
    margin-bottom: 10px
}
#footer-links ul li a {
    color: #fff;
    display: block;
    overflow: hidden;
    font-size: 12px;
}
#footer-affittare-un-immobile ul li {
    display: block;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 16px;
    background-image: url(/css/img/dream-house-list-bullet.png);
    background-repeat: no-repeat;
    background-position: center left;
    height: 27px;
    line-height: 27px;
    padding-left: 45px
}
#footer strong {
    color: #fff;
    font-size: 16px
}
#footer2 .social-links ul li {
    display: inline-block;
    text-align: center;
    width: 50px
}
#footer2 .social-links ul a {
    color: #94072a;
    cursor: pointer;
    font-size:10px;
}
#footer2 .social-links ul a:hover {
    color: #D05555
}
#footer2 a {
	color: #94072a;
}

.carousel-result-item .carousel-indicators,
.custom-carousel>.carousel-indicators,
.custom-carousel>.carousel-inner>.item>.carousel-caption {
    display: none
}

#footer .ghost {
    color: #565a5c;
    font-size: 13px
}
.custom-carousel>.carousel-inner>.item {
    height: 200px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
.custom-carousel>.details>p.price,
.custom-carousel>.details>p.spechs {
    color: #fff;
    text-align: right;
    padding: 0 10px;
    background: rgba(55, 52, 49, .9);
    float: left
}
.custom-carousel>.details {
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer
}
.custom-carousel>.details>p.price {
    display: block;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700
}
.custom-carousel>.details>p.spechs {
    display: block;
    height: 22px;
    line-height: 22px;
    font-size: 16px
}
.custom-carousel>.favourite-ico-carousel {
    height: 27px;
    width: 30px;
    background: url(/css/img/favourite-sprite.png) bottom center no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer
}
.custom-carousel>.favourite-ico-carousel.active,
.custom-carousel>.favourite-ico-carousel:hover {
    background-position: top center
}
.custom-carousel>.carousel-control {
    height: 40px;
    background-image: none!important;
    position: absolute;
    display: block;
    width: 40px
}
.custom-carousel>.carousel-control.left {
    top: 155px;
    right: 50px;
    left: auto;
    bottom: auto
}
.custom-carousel>.carousel-control.right {
    top: 155px;
    right: 5px;
    left: auto;
    bottom: auto
}
.custom-carousel>.carousel-control.left>.control-ico {
    display: block;
    height: 40px;
    width: 40px;
    background: url(/css/img/carousel-control-sprite.png) bottom left no-repeat
}
.custom-carousel>.carousel-control.right>.control-ico {
    display: block;
    height: 40px;
    width: 40px;
    background: url(/css/img/carousel-control-sprite.png) bottom right no-repeat
}
.estate-title a {
    display: block;
    color: #565a5c;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0 0;
    margin: 0
}
.estate-title a:hover {
    color: #B71E44
}
.estate-ref {
    color: #999;
    font-size: 13px
}
.estate-excerpt {
    color: #565a5c;
    font-size: 11px;
    line-height: 15px
}
.estate-price {
    font-weight: 700;
    font-size: 30px;
    color: #565a5c
}
.estate-price .estate-price-per-meter {
    font-weight: 400;
    font-size: 14px
}
.estate-controls-wrap {
    border: 1px solid #d5d6d6;
    padding: 10px;
    background: #fff;
    border-radius: 3px
}
.estate-controls-wrap ul {
    padding: 0
}
.estate-controls-wrap ul li {
    display: block;
    margin-bottom: 10px
}
.estate-controls-wrap ul li a.send-request {
    display: block;
    height: 40px;
    background-color: #94072a;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #61151a;
    text-align: center;
    line-height: 40px;
    border-radius: 3px
}
.estate-controls-wrap ul li a.whatch-on-map,
a.save-in-a-list {
    border: 1px solid #c1c1c1;
    display: block;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    text-align: center
}
.estate-controls-wrap ul li a.send-request:hover {
    text-decoration: none;
    background-color: #b71e44
}
a.save-in-a-list {
    background-color: #f9f9f9;
    color: #565a5c;
    border-radius: 4px
}
a.save-in-a-list.active,
a.save-in-a-list:hover {
    background-color: #565a5c;
    color: #fff;
    text-decoration: none
}
.estate-controls-wrap ul li a.save-in-a-list:hover span {
    color: #94072a
}
.estate-controls-wrap ul li a.whatch-on-map {
    background-color: #f9f9f9;
    color: #565a5c;
    border-radius: 4px
}
.estate-controls-wrap ul li a.whatch-on-map:hover {
    background-color: #565a5c;
    color: #fff;
    text-decoration: none
}
.estate-controls-wrap ul li a.whatch-on-map:hover span {
    color: #94072a
}
.estate-controls-wrap ul li a.whatch-estate-detail {
    display: block;
    height: 30px;
    background-color: #f9f9f9;
    color: #565a5c;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid #c1c1c1;
    text-align: center;
    line-height: 30px;
    border-radius: 4px
}
.estate-controls-wrap ul li a.whatch-estate-detail:hover {
    background-color: #565a5c;
    color: #fff;
    text-decoration: none
}
.estate-controls-wrap ul li a.whatch-estate-detail:hover span {
    color: #94072a
}
.estate-shares {
    color: #565a5c;
    font-size: 14;
    padding-top: 5px
}
.estate-shares a {
    color: #565a5c;
    display: inline-block;
    margin: 0 3px
}
.estate-tags ul {
    padding: 0
}
.estate-tags ul li {
    display: block;
    color: #fff;
    background-color: #7cc576;
    float: left;
    margin: 0 5px 5px 0;
    border-radius: 3px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    font-size: 13px
}
#map-canvas-wrapper {
    position: fixed;
    left: 0;
    width: 40%;
    height: 100%
}
#map-canvas,
#map-canvas-mobile {
    height: 100%;
    width: 100%
}
#results-wrapper {
    position: fixed;
    right: 0;
    width: 60%;
    height: 100%
}
#results-inner {
    height: 100%;
    overflow-y: auto;
    position: relative;
    background-color: #F5F5F5
}
.results-top-row {
    height: 90px;
    padding: 20px;
    border-bottom: 1px solid #dce0e0
}
.result-info {
    line-height: 60px;
    overflow: hidden
}
#results-wrapper .row {
    margin: 0 -5px 15px 0
}
.estate-item {
    background: #fff
}
.estate-item:hover {
    background-color: #f9f9f9;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1)
}
.estate_photos_wrapper {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%
}
.estate_photos {
    margin: 0 auto
}
.estate_photos a {
    cursor: move
}
#product_page_fixed_inner_nav {
    background-color: #565a5c;
    height: 50px
}
#product_page_fixed_inner_nav .nav.nav-pills li a {
    color: #cacccd;
    border-radius: 0;
    height: 50px;
    padding: 10px 15px;
    font-size: 16px
}
#product_page_fixed_inner_nav .nav.nav-pills li.active a,
#product_page_fixed_inner_nav .nav.nav-pills li:hover a {
    background: 0 0;
    color: #fff;
    border-bottom: 4px solid #cacccd
}
#product_page_fixed_inner_nav .price {
    display: block;
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    background-color: #1a1b1c;
    height: 50px;
    padding-left: 10px
}
.product_page_request_form {
    position: absolute;
    width: 100%;
    padding: 0 15px;
    top: 50px;
    left: 0;
    z-index: 9
}
.product_page_request_form>div {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #dce0e0
}
#product_page_body_top {
    background: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #dce0e0
}
#product_page_body_top h1 {
    font-weight: 700;
    font-size: 28px;
    color: #565a5c;
    margin: 10px 0
}
#product_page_body_top h2 {
    font-size: 16px;
    font-weight: 400;
    color: #999;
    margin: 0
}
#product_page_body_top h3 {
    font-size: 14px;
    font-weight: 400;
    color: #999;
    margin: 5px 0 0
}
#product_page_body_middle {
    background-color: #f5f5f5
}
.description-column {
    line-height: 32px
}
.agent-name {
    font-size: 20px;
    font-weight: 700
}
.agent-opinion {
    border-left: 4px solid #565a5c;
    padding-left: 15px
}
#product_page_map {
    height: 570px
}
.history-wrapper {
    height: 320px;
    overflow: hidden;
    overflow-y: auto;
    width: 416px;
    padding: 10px 10px 10px 0
}
.history-wrapper h4 {
    font-size: 13px;
    font-weight: 700;
    color: #565A5C
}
.history-wrapper p.excerpt {
    font-size: 11px;
    color: #565A5C;
    width: 240px;
    overflow: hidden
}
.history-wrapper p.price {
    color: #565a5c;
    font-weight: 700;
    font-size: 16px
}
.history-wrapper .history-item {
    height: 100px;
    margin: 0 0 10px
}
.history-wrapper .history-item .history-item-img {
    height: 100px;
    width: 100px
}
.popover {
    width: 420px
}
.popover-content {
    padding: 0!important;
    overflow: hidden!important
}
.modal-body {
    padding: 10px
}
.why-sign-in ul {
    padding: 0;
    margin-top: 15px
}
.why-sign-in ul li {
    display: block;
    background: url(/css/img/list-check-small.png) center left no-repeat;
    padding-left: 25px;
    margin-bottom: 10px
}
.facebook-button {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding: 8px 6px;
    background-color: #3b5998;
    border: 0;
    border-radius: 3px;
    border-bottom: 4px solid #264481
}
.facebook-button:hover {
    background-color: #4663a0
}
.divider,
.divider i {
    background-color: #fff
}
.divider {
    border-top: 1px solid #999;
    text-align: center;
    margin-top: 20px
}
.divider i {
    margin-top: -10px;
    display: inline-block;
    padding: 0 8px
}
.google-places-form {
    margin-bottom: 5px
}
.request-estate-summary .img {
    height: 110px;
    width: 100%
}
p.text-privacy {
    font-size: 9px;
    color: #333;
    text-align: justify;
    margin-top:10px;
    line-height:10px
}
.favourite-ico-product-page {
    height: 27px;
    width: 30px;
    background: url(/css/img/favourite-sprite.png) bottom center no-repeat;
    display: inline-block
}
.favourite-ico-product-page.active,
.favourite-ico-product-page:hover {
    background: url(/css/img/favourite-sprite.png) top center no-repeat
}
.list-item-img {
    position: relative
}
.list-item-img a {
    width: 100%;
    height: 180px;
    display: block
}
.list-item-img .label_type {
    position: absolute;
    top: 0;
    left: 0
}
.estate-list-item .panel .panel-heading {
    overflow: hidden
}
.ui-autocomplete {
    padding: 0;
    width: 120px;
    z-index: 999999
}
.ui-autocomplete li {
    display: block;
    background: #fff;
    width: 120px;
    text-align: center;
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6
}
.ui-autocomplete li:hover {
    background-color: #AF0D35
}
.ui-autocomplete li:hover a {
    text-decoration: none;
    color: #fff
}
.ui-autocomplete li a {
    color: #565A5C
}
.ui-helper-hidden-accessible {
    display: none
}
#cms_content h1 {
    color: #565a5c;
    font-weight: 700;
    font-size: 25px;
    /*margin: 100px 0*/
}
#cms_content h2 {
    color: #565a5c;
    font-weight: 700;
    font-size: 24px;
    /*margin: 100px 0*/
}
.nav-pills>li+li {
    margin-left: 5px
}
.nav-pills>li {
    float: left;
    margin-bottom: 5px
}
.cms_content_images a {
    border-radius: 3px;
    border: 6px solid #fff;
    display: inline-block;
    margin: 5px
}
.cms_content_images a:hover {
    border-color: #94122B;
    box-shadow: 0 0 4px rgba(0, 0, 0, .55)
}
#searchresult-agency-details {
    border-bottom: 1px solid #dce0e0
}
#searchresult-agency-details h1 {
    font-weight: 700;
    font-size: 32px;
    color: #565a5c;
    margin: 10px 0;
    padding: 30px 0 10px
}
#searchresult-agency-details h2 {
    font-weight: 400;
    font-size: 22px;
    color: #565a5c
}
#searchresult-agency-details h3 {
    font-weight: 400;
    font-size: 16px;
    color: #565a5c;
    margin: 10px 0;
    padding: 10px 0
}
#searchresult-agency-details p,
#searchresult-agency-details strong {
    color: #565a5c
}
#searchresult-agency-details p.agency-details {
    line-height: 25px
}
#searchresult-agency-details .agency-details-scroll-down a {
    font-size: 100px;
    color: #565a5c
}
#searchresult-agency-details .agency-details-scroll-down a:hover,
.red {
    color: #94072a
}
.orange {
    color: #e88a03
}
.with-tooltip {
    cursor: pointer
}
.navbar button.navbar-toggle:hover {
    background-color: #fff!important
}
.navbar button.navbar-toggle:hover .icon-bar {
    background-color: #94072A!important
}
.navbar button.navbar-toggle {
    background-color: #94072A;
    border-color: #94072A!important
}
.navbar button.navbar-toggle .icon-bar {
    background-color: #fff!important
}
.navbar-product-page-actions {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: #94072A;
    width: 100%;
    color: #fff!important;
    font-weight: 700;
    line-height: 50px
}
.navbar-product-page-actions a,
.navbar-product-page-actions a:hover,
.text-white {
    color: #fff
}
.custom-carousel.big>.carousel-inner>.item {
    height: 250px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
.custom-carousel.big>.details>p.price,
.custom-carousel.big>.details>p.spechs {
    color: #fff;
    float: left;
    text-align: right;
    padding: 0 10px;
    background: rgba(55, 52, 49, .9)
}
.custom-carousel.big>.carousel-indicators,
.custom-carousel.big>.carousel-inner>.item>.carousel-caption {
    display: none
}
.custom-carousel.big>.details {
    height: 250px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer
}
.custom-carousel.big>.details>p.price {
    display: block;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700
}
.custom-carousel.big>.details>p.spechs {
    display: block;
    height: 22px;
    line-height: 22px;
    font-size: 16px
}
.custom-carousel.big>.favourite-ico-carousel {
    height: 27px;
    width: 30px;
    background: url(/css/img/favourite-sprite.png) bottom center no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer
}
.custom-carousel.big>.favourite-ico-carousel.active,
.custom-carousel>.favourite-ico-carousel:hover {
    background-position: top center
}
.custom-carousel.big>.carousel-control {
    height: 40px;
    background-image: none!important;
    position: absolute;
    display: block;
    width: 40px
}
.custom-carousel.big>.carousel-control.left {
    top: 205px;
    right: 50px;
    left: auto;
    bottom: auto
}
.custom-carousel.big>.carousel-control.right {
    top: 205px;
    right: 5px;
    left: auto;
    bottom: auto
}
.custom-carousel.big>.carousel-control.left>.control-ico {
    display: block;
    height: 40px;
    width: 40px;
    background: url(/css/img/carousel-control-sprite.png) bottom left no-repeat
}
.custom-carousel.big>.carousel-control.right>.control-ico {
    display: block;
    height: 40px;
    width: 40px;
    background: url(/css/img/carousel-control-sprite.png) bottom right no-repeat
}
.product-page-map-mobile-modal .modal-body,
.product-page-map-mobile-modal .modal-body .container-fluid {
    padding: 0
}
.navbar-inverse input[type=text] {
    border-color: #94072A
}
.navbar-inverse .input-group button[type=submit] {
    height: 34px
}
.scrollToTop {
    width: 50px;
    height: 50px;
    padding: 10px;
    text-align: center;
    color: #565a5c;
    text-decoration: none;
    position: fixed;
    bottom: 75px;
    right: 75px;
    display: none;
    font-size: 72px;
    opacity: .8
}
.scrollToTop:hover {
    text-decoration: none;
    opacity: 1
}
article a h1,
article h1,
article p {
    color: #565a5c
}
article a:hover h1 {
    text-decoration: none
}
#sitemap h3 {
    font-size: 18px;
    font-weight: 700;
    color: #565A5C
}
#sitemap ul {
    padding: 0
}
#sitemap ul li {
    display: block;
    border-bottom: 1px solid #565a5c
}
#sitemap ul li h4 {
    font-size: 13px
}
#sitemap ul li p {
    font-size: 12;
    color: #565A5C
}
#product-page-navbar-dropdown-options {
    background-color: #94072a;
    color: #fff;
    border-color: #94072a #94072a #94072a #fff
}


ul.nav.navbar-right  li a{
    padding-left:5px;
    padding-right:5px;
}

.form-group-lg .form-control{
    min-height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn-100{
    width:100%;
}

.result-intro{
    padding-left:15px;
}

#confirm-zones-wrapper{
    position: absolute;
    right:50px;
    top:100px;
    background:#fff;
    padding:10px;
    border-radius: 6px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.35);
    border:1px solid #ececec;
    cursor:move;
    max-height:480px;
    width:420px;
}

#zones-list-wrapper{
    max-height: 320px;
    overflow: auto;
}

#zones-list{
    display: block;
    position: relative;
    margin:20px 0px;
    padding:0px;
    overflow: hidden;
    width: 100%;
}

#zones-list li{
    display: block;
    margin-left:-14px;
    padding-right:30px;
    height:35px;
    line-height: 35px;
    cursor:pointer;
    border-top:1px solid #ececec;
    white-space: nowrap;
}

#zones-list li:hover{
    background-color:#ececec;
}

#zones-list li.selected{
    background-color:#ececec;
}

#zones-list li.selected_confirm{
    background-image:url('/css/img/tick.png');
    background-repeat: no-repeat;
    background-position: right center; 
}





#scarica-app{
    background: #f3f3f3;
}
#scarica-app .btn{
    font-size: 18px;
}
#scarica-app h3{
    font-weight: lighter; 
    font-size: 35px;
    font-family: helvetica;
    line-height: 45px;
    letter-spacing: -1px;
}
#scarica-app h3 span{
    color:#94072a;
}


.bg-gray{
	background-color:#f1f1f1 !important;
}
.bg-gray2{
	background-color:#666666 !important;
}

body{
	background-color:#ffffff !important;
}